# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Django
*.sqlite3
/backend/media/
/backend/staticfiles/
/backend/.env

# Streamlit
.streamlit/

# Entornos virtuales
venv/
env/
.venv/
.env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
